In [1]:
import pandas as pd
df=pd.read_csv("titanics.csv")
df

     Survived  Pclass     Sex   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
3           1       1  female  35.0  53.1000
4           0       3    male  35.0   8.0500
..        ...     ...     ...   ...      ...
886         0       2    male  27.0  13.0000
887         1       1  female  19.0  30.0000
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [2]:
inputs=df.drop('Survived', axis='columns')

In [3]:
target=df['Survived']

In [4]:
inputs

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [5]:
target

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
l_Pclass=LabelEncoder()
l_Sex=LabelEncoder()
l_Age=LabelEncoder()
l_Fare=LabelEncoder()

In [7]:
inputs['Pclass_n']=l_Pclass.fit_transform(inputs['Pclass'])
inputs['Sex_n']=l_Sex.fit_transform(inputs['Sex'])
inputs['Age_n']=l_Age.fit_transform(inputs['Age'])
inputs['Fare_n']=l_Fare.fit_transform(inputs['Fare'])

In [8]:
inputs_n=inputs.drop(['Pclass','Sex','Age','Fare'],axis='columns')

In [9]:
inputs_n

     Pclass_n  Sex_n  Age_n  Fare_n
0           2      1     28      18
1           0      0     51     207
2           2      0     34      41
3           0      0     47     189
4           2      1     47      43
..        ...    ...    ...     ...
886         1      1     35      85
887         0      0     24     153
888         2      0     88     131
889         0      1     34     153
890         2      1     42      30

[891 rows x 4 columns]

In [10]:
from sklearn import tree
model=tree.DecisionTreeClassifier()

In [13]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [14]:
model.predict([[2,1,28,18]])

array([0], dtype=int64)

In [15]:
model.predict([[0,1,50,200]])

array([0], dtype=int64)

In [16]:
model.predict([[0,1,51,207]])

array([1], dtype=int64)

In [17]:
model.score(inputs_n, target)

0.9797979797979798

In [18]:
from sklearn import tree
model=tree.DecisionTreeClassifier(criterion='entropy')

In [19]:
model.fit(inputs_n, target)

DecisionTreeClassifier(criterion='entropy')

In [20]:
model.predict([[2,1,51,207]])

array([0], dtype=int64)

In [21]:
model.predict([[0,1,51,207]])

array([0], dtype=int64)

In [23]:
model.predict([[0,0,41,189]])

array([1], dtype=int64)

In [24]:
model.score(inputs_n, target)

0.9797979797979798